

/*  -- main container for fixed navbar  --  */
.main {
    padding: 40px 0;
}

/*  ----  review_page ----   */
/*  -- Feeds headline and buttons  --  */
.headline_feed {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;
}
