{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card text-center border-dark bg-light my-3" >
        <div class="card-body bg-transparent ">
          <h3> Register now ! </h3>
          <a class="btn btn-primary" href="{% url 'register' %}" role="button"> Sign up </a>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card border-dark bg-light my-3" >
        <div class="card-body bg-transparent ">
          <p> {{ message }} </p>
          <form method="post">
            {{ form }}
            {% csrf_token %}
            <button type="submit"> Log in </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
